* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: white;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: black;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
}

.search {
    flex: 1;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.login {
    background-color: white;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
}


.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #000;
}

.playlist-box {
    background-color: #242424;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.playlist-box button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 20px;
    border: none;
}


.content {
    display: flex;
    flex-direction: column;   /* stack sections */
    gap: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.card {
    background-color: #181818;
    width: 160px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h4 {
    margin-top: 10px;
    font-size: 14px;
}

.card p {
    font-size: 12px;
    color: #b3b3b3;
}

.artists {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* all equal */
    gap: 24px;
    margin-top: 20px;
}


.artist-card {
    background-color: #181818;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    width: 100%;
    height: 280px;         
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.artist-card img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 12px;
    border: none;         
    box-shadow: none;      
}


.artist-card h4 {
    font-size: 14px;
}

.artist-card p {
    font-size: 12px;
    color: #b3b3b3;
}


.artist-card:hover {
    background-color: #242424;
}
