* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: black;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
}

.search {
    flex: 1;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.login {
    background-color: white;
    color: black;
    font-weight: bold;
}

/* Layout */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #000;
}

.playlist-box {
    background-color: #242424;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.playlist-box button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 20px;
    border: none;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.card {
    background-color: #181818;
    width: 160px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h4 {
    margin-top: 10px;
    font-size: 14px;
}

.card p {
    font-size: 12px;
    color: #b3b3b3;
}
/* ===== Popular Artists ===== */
.artists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.artist-card {
    background-color: #181818;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.artist-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;   /* makes image circular */
    margin-bottom: 10px;
}

.artist-card h4 {
    font-size: 14px;
}

.artist-card p {
    font-size: 12px;
    color: #b3b3b3;
}

/* Hover effect like Spotify */
.artist-card:hover {
    background-color: #242424;
}
